<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>My World Wiki</title>
</head>
<body>
    <div class="main-body">
        <div class="top-bar2">
            <div class="top-buttons">
                <a href="/">Home</a>
                <a href="/log_out">Logout</a>
            </div>
        </div>
        <div class="sub-block">
            <div class="header2">
                <h1>Account</h1>
            </div>
            <h2>{{user.username}}</h2>
            <form class="edit-form" action="/update_user" method="POST">
                <div class="form-contents edit-form">
                    <div class="messages">
                        {% with messages = get_flashed_messages(category_filter=["update"]) %}

                            {% if messages %}

                                {% for message in messages %}

                                    <p>{{message}}</p>

                                {% endfor %}

                            {% endif %}

                        {% endwith %}
                    </div>
                    <div class="input-block">
                        <label>Change username:</label>
                        <input type="text" name="username">
                    </div>
                    <input class="submit-button button" type="submit" value="UPDATE" class="submit-button">
                </div>
            </form>
            <form action="/delete_user" method="POST">
                <input type="hidden" name="id" value="{{user.id}}">
                <input class="button" type="submit" value="DELETE ACCOUNT">
            </form>
        </div>
        <h2>Friends:</h2>
        {% for friend in user.friends %}

        <div class="user-block">
            <h2>{{friend.username}}</h2>

            <form action="/remove_friend/{{friend.id}}" method="POST">
                <input class="button" type="submit" value="remove friend">
            </form>

            {% endfor %}
        </div>
    </div>
</body>
</html>