<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>My World Wiki</title>
</head>
<body>
    <div class="main-body">
        <div class="top-bar2">
            <div class="top-buttons">
                <a href="/">Home</a>
                <a href="/account">Account</a>
                <a href="/log_out">Logout</a>
            </div>
        </div>
        <div class="sub-block">
            <div class="header2">
                <h1>Edit Article</h1>
            </div>
            <div class="messages">
                {% with messages = get_flashed_messages(category_filter=["article"]) %}

                    {% if messages %}

                        {% for message in messages %}

                            <p>{{message}}</p>

                        {% endfor %}

                    {% endif %}

                {% endwith %}
            </div>
            <form class="edit-form" action="/update_article" method="POST">
                <label>Title:</label>
                <input type="text" id="title" name="title" value="{{article.title}}">
                <!-- <br>
                <label for="subwiki">Subwiki:</label>
                <select name="subwiki" id="subwiki">
                    {% for subwiki in user.subwikis%}

                    <option value="{{subwiki.id}}">{{subwiki.title}}</option>

                    {% endfor %}
                </select> -->
                <br>
                <label for="viewable">Viewable by:</label>
                <select name="viewable" id="viewable">
                    <option value="anyone">Anyone</option>
                    <option value="friends" {% if article.viewable == 'friends' %} selected {%endif%}>Friends</option>
                </select>
                <br>
                <input class="submit-button button" type="submit" value="SAVE AND EXIT">
            </form>
            <form action="/delete_article/{{article.id}}" method="POST">
                <input class="button" type="submit" value="DELETE">
            </form>
            <a href="/view_article/{{article.id}}">Cancel</a>
        </div>

        {% for section in article.sections %}
        <div class="sub-block">
            <h3>Edit section:</h3>
            <form class="edit-form" action="/update_section" method="POST">
                <label>Header:</label>
                <input type="text" id="title" name="header" value="{{section.header}}">
                <br>
                <label>Content:</label>
                <br>
                <textarea name="content" cols="50" rows="6">{{section.content}}</textarea>
                <br>
                <input class="submit-button button" type="submit" value="SAVE">
                <input type="hidden" name="id" value="{{section.id}}">
            </form>
            <form action="/delete_section" method="POST">
                <input type="hidden" name="id" value="{{section.id}}">
                <input class="button" type="submit" value="DELETE">
            </form>
        </div>

        {% endfor %}

        <div class="sub-block">
            <h3>Add section:</h3>
            <form class="edit-form" action="/process_section" method="POST">
                <label>Header:</label>
                <input type="text" id="title" name="header" value="">
                <br>
                <label>Content:</label>
                <br>
                <textarea name="content" cols="50" rows="6"></textarea>
                <br>
                <input class="submit-button button" type="submit" value="ADD">
            </form>
        </div>
    </div>
</body>
</html>