<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>My World Wiki</title>
</head>
<body>
    <div class="main-body">
        <div class="top-bar2">
            <div class="top-buttons">
                <a href="/new_article">New Article</a>
                <a href="/">Home</a>
                <a href="/account">Account</a>
                <a href="/log_out">Logout</a>
            </div>
        </div>
        <div class="header2">
            <h1>{{subwiki.title}}</h1>
        </div>
        <h2>All Articles</h2>
        {% for article in subwiki.articles %}

        <a href="/view_article/{{article.id}}">{{article.title}}</a>
        <br>

        {% endfor %}
    </div>
</body>
</html>